data/
ckpt/
test.py
img/
abandon/
models/
csv/
*.log
*.pyc
*/__pycache__/

.venv/

config/exp/*

.vscode/tasks.json

nohup.out

notifications/slack_configs.toml

.ruff_cache

.pytest_cache

run.sh

.csv-backup/

.img-backup/

.models-backup/

data_path.toml

.backup/
